{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fuel Reference</title>

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    {% include "partials/sidebar.html" %}

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>

            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Fuel Reference Table</h1>

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="fuelTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Fuel Type</th>
                                    <th>Fuel Class</th>
                                    <th>Fuel Group</th>
                                    <th>LHV (MJ/kg)</th>
                                    <th>WTT (g/MJ)</th>
                                    <th>TTW CO2 (g/MJ)</th>
                                    <th>Cf CO2</th>
                                    <th>Cf CH4 (kg/kg)</th>
                                    <th>Cf N2O (kg/kg)</th>
                                    <th>WTW total (g/MJ)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for f in fuels %}
                                    <tr>
                                        <td>{{ f.fuel_type }}</td>
                                        <td>{{ f.fuel_class }}</td>
                                        <td>{{ f.fuel_group }}</td>
                                        <td>{{ f.lhv_mj_per_kg }}</td>
                                        <td>{{ f.wtt_plus_nonco2_gco2e_per_mj }}</td>
                                        <td>{{ f.ttw_co2_gco2_per_mj }}</td>
                                        <td>{{ f.cf_gco2_per_gfuel }}</td>
                                        <td>{{ f.cf_ch4_ratio }}</td>
                                        <td>{{ f.cf_n2o_ratio }}</td>
                                        <td>{{ f.wtw_total_gco2e_per_mj }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="sticky-footer bg-white"></footer>
    </div>
</div>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#fuelTable').DataTable();
    });
</script>
</body>
</html>