{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">

    {% include "partials/sidebar.html" %}

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>

                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Kaan Akboga</span>
                            <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Profile</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>Settings</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>Activity Log</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Voyage Legs Report</h1>
                <p class="mb-4">
                    This page lists voyage legs and summarizes fuel amounts and energy (MJ) by fuel type.
                </p>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Voyage Legs Report Table</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>VRN</th>
                                    <th>Route Leg</th>
                                    <th>Route Leg Type</th>
                                    <th>Departure D/T</th>
                                    <th>Arrival D/T</th>
                                    <th>Voyage Report Type Name</th>
                                    <th>Distance</th>

                                    <th>Total HFO (kg)</th>
                                    <th>Total LFO (kg)</th>
                                    <th>Total MGO (kg)</th>
                                    <th>Total VLSFO (kg)</th>
                                    <th>Total LNG (kg)</th>

                                    <th>HFO Energy (MJ)</th>
                                    <th>LFO Energy (MJ)</th>
                                    <th>MGO Energy (MJ)</th>
                                    <th>VLSFO Energy (MJ)</th>
                                    <th>LNG Energy (MJ)</th>
                                </tr>
                                </thead>

                                <tfoot>
                                <tr>
                                    <th>VRN</th>
                                    <th>Route Leg</th>
                                    <th>Route Leg Type</th>
                                    <th>Departure D/T</th>
                                    <th>Arrival D/T</th>
                                    <th>Voyage Report Type Name</th>
                                    <th>Distance</th>

                                    <th>Total HFO (kg)</th>
                                    <th>Total LFO (kg)</th>
                                    <th>Total MGO (kg)</th>
                                    <th>Total VLSFO (kg)</th>
                                    <th>Total LNG (kg)</th>

                                    <th>HFO Energy (MJ)</th>
                                    <th>LFO Energy (MJ)</th>
                                    <th>MGO Energy (MJ)</th>
                                    <th>VLSFO Energy (MJ)</th>
                                    <th>LNG Energy (MJ)</th>
                                </tr>
                                </tfoot>

                                <tbody>
                                {% for leg in legs %}
                                    <tr>
                                        <td>{{ leg.vrn }}</td>
                                        <td>{{ leg.route_leg }}</td>
                                        <td>{{ leg.route_leg_type }}</td>
                                        <td>{{ leg.departure_dt|date:"d/m/Y H:i:s" }}</td>
                                        <td>{{ leg.arrival_dt|date:"d/m/Y H:i:s" }}</td>

                                        <td>{% if leg.voyage_report_type_name %}{{ leg.voyage_report_type_name }}{% else %}-{% endif %}</td>
                                        <td>{% if leg.distance %}{{ leg.distance|floatformat:3 }}{% else %}-{% endif %}</td>

                                        <td>{{ leg.total_hfo_kg|floatformat:3 }}</td>
                                        <td>{{ leg.total_lfo_kg|floatformat:3 }}</td>
                                        <td>{{ leg.total_mgo_kg|floatformat:3 }}</td>
                                        <td>{{ leg.total_vlsfo_kg|floatformat:3 }}</td>
                                        <td>{{ leg.total_lng_kg|floatformat:3 }}</td>

                                        <td>{% if leg.hfo_energy_mj is not None %}{{ leg.hfo_energy_mj|floatformat:3 }}{% else %}-{% endif %}</td>
                                        <td>{% if leg.lfo_energy_mj is not None %}{{ leg.lfo_energy_mj|floatformat:3 }}{% else %}-{% endif %}</td>
                                        <td>{% if leg.mgo_energy_mj is not None %}{{ leg.mgo_energy_mj|floatformat:3 }}{% else %}-{% endif %}</td>
                                        <td>{% if leg.vlsfo_energy_mj is not None %}{{ leg.vlsfo_energy_mj|floatformat:3 }}{% else %}-{% endif %}</td>
                                        <td>{% if leg.lng_energy_mj is not None %}{{ leg.lng_energy_mj|floatformat:3 }}{% else %}-{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
</body>
</html>