{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Voyage Legs Report</title>

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">
<div id="wrapper">
    {% include "partials/sidebar.html" %}

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Kaan Akboga</span>
                            <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">Voyage Legs Report</h1>
                <p class="mb-4">
                    Fuel amounts, energy, total GHG and intensity (scoped by route type).
                </p>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Voyage Legs Report Table</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>VRN</th>
                                    <th>Route Leg</th>
                                    <th>Route Leg Type</th>
                                    <th>Departure</th>
                                    <th>Arrival</th>
                                    <th>Distance</th>
                                    <th>Scope</th>

                                    <th>Total HFO (kg)</th>
                                    <th>Total LFO (kg)</th>
                                    <th>Total MGO (kg)</th>
                                    <th>Total VLSFO (kg)</th>
                                    <th>Total LNG (kg)</th>

                                    <th>HFO Energy (MJ)</th>
                                    <th>LFO Energy (MJ)</th>
                                    <th>MGO Energy (MJ)</th>
                                    <th>VLSFO Energy (MJ)</th>
                                    <th>LNG Energy (MJ)</th>

                                    <th>Shore Power (MJ)</th>
                                    <th>Total Energy (MJ)</th>

                                    <th>Total GHG (tCO2e)</th>
                                    <th>GHG Intensity (g/MJ)</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for leg in legs %}
                                    <tr>
                                        <td>{{ leg.vrn }}</td>
                                        <td>{{ leg.route_leg }}</td>
                                        <td>{{ leg.route_leg_type }}</td>
                                        <td>{{ leg.departure_dt }}</td>
                                        <td>{{ leg.arrival_dt }}</td>
                                        <td>{{ leg.distance }}</td>
                                        <td>{{ leg.scope_factor }}</td>

                                        <td>{{ leg.total_hfo_kg }}</td>
                                        <td>{{ leg.total_lfo_kg }}</td>
                                        <td>{{ leg.total_mgo_kg }}</td>
                                        <td>{{ leg.total_vlsfo_kg }}</td>
                                        <td>{{ leg.total_lng_kg }}</td>

                                        <td>{{ leg.hfo_energy_mj }}</td>
                                        <td>{{ leg.lfo_energy_mj }}</td>
                                        <td>{{ leg.mgo_energy_mj }}</td>
                                        <td>{{ leg.vlsfo_energy_mj }}</td>
                                        <td>{{ leg.lng_energy_mj }}</td>

                                        <td>{{ leg.shore_power_energy_mj }}</td>
                                        <td>{{ leg.total_energy_mj_scoped }}</td>

                                        <td>{{ leg.total_ghg_tco2e }}</td>
                                        <td>{{ leg.ghg_intensity_g_per_mj }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; ShipControlPanel</span>
                </div>
            </div>
        </footer>

    </div>
</div>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
</body>
</html>